$breakpoints-map: (
  small: "all and (min-width: 500px)",
  medium: "all and (min-width: 750px)",
  large: "all and (min-width: 1000px)",
  xlarge: "all and (min-width: 1200px)",
  xxlarge: "all and (min-width: 1500px)",
);
