body {
  background-color: var(--color-background);
  color: var(--color-text);

  @include mq(small) {
    background-color: red;
  }

  @include mq(large) {
    background-color: greenyellow;
  }

  @include mq(xlarge) {
    background-color: orange;
  }
}
