// ==============================
// =body
// ==============================

body {
  margin: 0;
  padding: 0;

  background-color: var(--color-background);
  background-color: lightblue;
  color: var(--color-text);
  font-size: clamp(1rem, 1vw, 3rem);
}
